version: "3.7"

services:
    app:
        image: app
        build:
            context: .
            dockerfile: ./docker/Dockerfile
            args:
                - PHP_VERSION=${PHP_VERSION:-8.2}
        volumes:
            - ./:/var/www/app
            - /var/www/app/vendor
        extra_hosts:
            - "internal.host:host-gateway"
        networks:
            - app-net
        ports:
            - "5173:5173" # Expose Vite
    mysql:
        image: mysql:8.0
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: laravel_db
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: secret
        ports:
            - "3307:3306"
        networks:
            - app-net
        volumes:
            - mysql_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        restart: unless-stopped
        depends_on:
            - mysql
        environment:
            PMA_HOST: mysql
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "8080:80"
        networks:
            - app-net

    nginx:
        image: nginx:alpine
        ports:
            - "${APP_PORT:-8283}:80"
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:cached
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:cached
            - ./:/var/www/app:cached
        restart: on-failure
        depends_on:
            - app
        networks:
            - app-net
    supervisor:
        image: app
        networks:
            - app-net
        depends_on:
            - app
            - nginx
        command: supervisord

    redis:
        image: redis:latest
        container_name: redis_cache
        restart: unless-stopped
        ports:
            - "6379:6379"
        networks:
            - app-net

    rabbitmq:
        image: rabbitmq:management
        container_name: rabbitmq_service
        restart: unless-stopped
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        ports:
            - "5672:5672" # RabbitMQ Messaging Port
            - "15672:15672" # RabbitMQ Management Dashboard
        networks:
            - app-net

volumes:
    mysql_data:
networks:
    app-net:
        driver: bridge
